$color1: #1A2A33;
$color2: #1F3641;
$color3: #A8BFC9;
$color4: #F2B137;
$color5: #31C3BD;
$color6: #A8A8A8;
$color7: #FFC860;
$color8: #65E9E4;
$color9: #DBE8ED;
$font-weight7: 700;
$font-weight5: 500;
$font-size16: 16px;
$font-size14: 14px;
$font-size20: 20px;
$font-size15: 15px;
$font-size24: 24px;
$font-size40: 40px;